<table>
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Task Description</th>
      <th>Tash Due Date</th>
      <th>Priority</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(taskId, task) in todo.tasks">
      <td><img class="todo-img" ng-src="{{task.image}}"></td>
      <td>{{task.name}}</td>
      <td>{{task.desc}}</td>
      <td>{{task.due | date}}</td>
      <td>{{task.priority}}</td>
      <td>
        <a class="btn btn-primary" href="/#/{{taskId}}">Show</a>
        <a class="btn btn-primary" href="/#/{{taskId}}/edit">Edit</a>
        <button ng-click="todo.removeTodo(taskId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
