<table>
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Task Description</th>
      <th>Tash Due Date</th>
      <th>Priority</th>
      <th>Remove Task</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(taskId, task) in todoCtrl.tasks">
      <td><img class="todo-img" ng-src="{{task.image}}"></td>
      <td>{{task.name}}</td>
      <td>{{task.desc}}</td>
      <td>{{task.due | date}}</td>
      <td>{{task.priority}}</td>
      <td><button ng-click="todoCtrl.removeTodo(taskId)">Delete</button></td>
    </tr>
  </tbody>
</table>
